@{
    ViewData["Title"] = "Customers";
}

<div class="text-center">
    <h1 class="display-4">Customers</h1>
    <a href="https://localhost:7036/api/Customers" class="btn btn-primary">Customer List</a>
    <a asp-controller="Home" asp-action="AddCustomer" class="btn btn-primary">New Customer</a>
</div>