@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
    <h1 class="display-4">Car Rental Service</h1>
    <a asp-controller="Home" asp-action="Register" class="btn btn-primary mt-4">Register</a>
    <a asp-controller="Home" asp-action="Login" class="btn btn-primary mt-4">Login</a>
</div>