@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Administrator.</h1>
    <p>Use this dashboard to manage customer, contract and vehicle data.</p>
</div>