@{
    ViewData["Title"] = "Rental Contracts";
}

<div class="text-center">
    <h1 class="display-4">Rental Contracts</h1>
    <a href="https://localhost:7036/api/RentalContracts" class="btn btn-primary">Rental Contract List</a>
    <a asp-controller="Home" asp-action="AddRentalContract" class="btn btn-primary">New Rental Contract</a>
</div>