@{
    ViewData["Title"] = "Vehicles";
}

<div class="text-center">
    <h1 class="display-4">Vehicles</h1>
    <a href="https://localhost:7036/api/Vehicles" class="btn btn-primary">Vehicle List</a>
    <a asp-controller="Home" asp-action="AddVehicle" class="btn btn-primary">New Vehicle</a>
</div>